
	body, input, select, textarea {
	
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: none;
	}

		a:hover {
			text-decoration: underline;
		}


	input, select, textarea {
		color: #e5474b;
	}

	a {
		color: #e5474b;
	}







/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 0;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: .8em;
		font-weight: 700;
		height: 3.5em;
		line-height: 3.65em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			text-decoration: none;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: #5a5a5a;
		color: #ffffff !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #676767;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #4d4d4d;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #e5474b;
			color: #e5474b !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #fceced;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #f9dadb;
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			button.alt.icon:before,
			.button.alt.icon:before {
				color: #717171;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #e5474b;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #e85d61;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #e23135;
			}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form .field {
			margin: 0 0 2em 0;
		}

			form .field.half {
				width: 50%;
				float: left;
				padding: 0 0 0 1em;
			}

				form .field.half.first {
					padding: 0 1em 0 0;
				}

		form > .actions {
			margin: 2.5em 0 0 0 !important;
		}

		@media screen and (max-width: 736px) {

			form .field {
				margin: 0 0 1.5em 0;
			}

				form .field.half {
					padding: 0 0 0 0.75em;
				}

					form .field.half.first {
						padding: 0 0.75em 0 0;
					}

			form > .actions {
				margin: 2em 0 0 0 !important;
			}

		}

		@media screen and (max-width: 480px) {

			form .field.half {
				width: 100%;
				float: none;
				padding: 0;
			}

				form .field.half.first {
					padding: 0;
				}

		}

	label {
		display: block;
		font-size: 0.9em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 0;
		border: none;
		border: solid 3px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 0;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 0;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #e5474b;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: none;
		border-color: #fceced;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #e5474b;
			box-shadow: 0 0 0 1px #e5474b;
		}

	.select-wrapper:before {
		color: #e5474b;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #111111;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: none;
			border-color: #e5474b;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #e5474b;
		border-color: #e5474b;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #e5474b;
		box-shadow: 0 0 0 1px #e5474b;
	}

	::-webkit-input-placeholder {
		color: #717171 !important;
	}

	:-moz-placeholder {
		color: #717171 !important;
	}

	::-moz-placeholder {
		color: #717171 !important;
	}

	:-ms-input-placeholder {
		color: #717171 !important;
	}

	.formerize-placeholder {
		color: #717171 !important;
	}



/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

	ul.alt li {
		border-top-color: #e5474b;
	}


	#skel-layers-wrapper {
		padding-top: 100px;
	}
	
	#header {
		background: #fff;
		cursor: default;
		height: 100px;
		left: 0;
		line-height: 100px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}
			#header .logo img{
				width: 80px;
				height: 80px;
				margin-left: 150px;
			}
	
		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.25em;
			top: 0;
			left: 50%;
			vertical-align: middle;
			text-align: center;
		}
	
			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
				
			}
	
				#header nav > ul > li {
					border-radius: 6px;
					display: inline-block;
					margin-left: 50px;
					padding-left: 0;
				}
	
					#header nav > ul > li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: rgb(243, 225, 225);
						display: inline-block;
						text-decoration: none;
						text-align: center;
					}
	
						#header nav > ul > li a:hover {
							color: #fff;
						}
	
					#header nav > ul > li:first-child {
						margin-left: 0;
					}
	
		#header .container {
			position: relative;
		}
	
		#header ul li  a {
			padding: 6px 12px;
			margin-left: 5px;
			margin-right: -6px;
	
		}
	#header .audio{
		position: absolute;
		left: 25%;
		top: 24%;
	}

	.break{
		background: #680b0b;
		width: 100%;
		height: 100px;
	}


#animation{
	background: #680b0b;
}

	.animation {
		width: 500px;
		height: 500px;
		margin: 0 auto ;

		position: relative;

	}

	.heart.top {
		z-index: 3;
	}

	.left {
		left: 62px;
	}

	.right {
		right: 62px;
	}
	.sided {
		top: 100px;
		width: 220px;
		height: 220px;
		border-radius: 110px;
	}

	.heart {
		position: absolute;
		z-index: 2;
		background: linear-gradient(-90deg, rgb(192, 22, 22) 0%, #f70b0b 30%);
		animation: beat 0.5s ease 0s infinite normal;
	}

	.heart.center {
		background: linear-gradient(-45deg, rgb(136, 0, 0) 0%, #d50909 40%);
	}

	.center {
		width: 210px;
		height: 210px;
		bottom: 100px;
		left: 145px;
		transform: rotateZ(225deg);
	}

	.heart {
		position: absolute;
		z-index: 2;
		background: linear-gradient(-90deg, rgb(175, 6, 6) 0%, #d50909 40%);
		animation: beat 0.7s ease 0s infinite normal;
	}

	@keyframes beat {
		0% {
			transform: scale(1) rotate(225deg);
			box-shadow: 0 0 50px #d50909;
		}

		50% {
			transform: scale(1.1) rotate(225deg);
			box-shadow: 0 0 80px #d50909;
		}

		100% {
			transform: scale(1) rotate(225deg);
			box-shadow: 0 0 50px #d50909;
		}

	}
/* Form */
#form {
    background: linear-gradient(#680b0b,#e90000 );
    color: #f2a3a5;
    padding: 2em 0 2em 0;

}

    #form input, #footer select, #form textarea {
        color: #ffffff;
    }

    #form a {
        color: #ffffff;
    }

    #form strong, #form b {
        color: #ffffff;
    }

    #form h1, #form h2, #form h3, #form h4, #form h5, #form h6 {
        color: #fff;
    }

    #form blockquote {
        border-left-color: #fff;
    }

    #form code {
        background: none;
        border-color: #fff;
    }

    #form hr {
        border-bottom-color: #fff;
    }

    #form input[type="submit"],
    #form input[type="reset"],
    #form input[type="button"],
    #form button,
    #form .button {
        background-color: #5a5a5a;
        color: #ffffff !important;
    }

        #form input[type="submit"]:hover,
        #form input[type="reset"]:hover,
        #form input[type="button"]:hover,
        #form button:hover,
        #form .button:hover {
            background-color: #676767;
        }

        #form input[type="submit"]:active,
        #form input[type="reset"]:active,
        #form input[type="button"]:active,
        #form button:active,
        #form .button:active {
            background-color: #4d4d4d;
        }

        #form input[type="submit"].alt,
        #form input[type="reset"].alt,
        #form input[type="button"].alt,
        #form button.alt,
        #form  .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #fff;
            color: #ffffff !important;
        }

            #form  input[type="submit"].alt:hover,
            #form  input[type="reset"].alt:hover,
            #form  input[type="button"].alt:hover,
            #form  button.alt:hover,
            #form .button.alt:hover {
                background: rgba(255, 255, 255, 0.25);
            }

            #form  input[type="submit"].alt:active,
            #form  input[type="reset"].alt:active,
            #form  input[type="button"].alt:active,
            #form  button.alt:active,
            #form  .button.alt:active {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #form  input[type="submit"].alt.icon:before,
            #form  input[type="reset"].alt.icon:before,
            #form  input[type="button"].alt.icon:before,
            #form  button.alt.icon:before,
            #form  .button.alt.icon:before {
                color: #f8d1d2;
            }

        #form input[type="submit"].special,
        #form input[type="reset"].special,
        #form input[type="button"].special,
        #form button.special,
        #form .button.special {
            background-color: #ffffff;
            color: #e5474b !important;
        }

    #form label {
        color: #ffffff;
    }

    #form input[type="text"],
    #form input[type="password"],
    #form input[type="email"],
    #form select,
    #form textarea {
        background: none;
        border-color: rgba(255, 255, 255, 0.25);
    }

        #form input[type="text"]:focus,
        #form input[type="password"]:focus,
        #form input[type="email"]:focus,
        #form select:focus,
        #form textarea:focus {
            border-color: #ffffff;
            box-shadow: 0 0 0 1px #ffffff;
        }

    #form .select-wrapper:before {
        color: #fff;
    }

    #form input[type="checkbox"] + label,
    #form input[type="radio"] + label {
        color: #f2a3a5;
    }

        #form input[type="checkbox"] + label:before,
        #form input[type="radio"] + label:before {
            background: none;
            border-color: #fff;
        }

    #form input[type="checkbox"]:checked + label:before,
    #form input[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #e5474b;
    }

    #form input[type="checkbox"]:focus + label:before,
    #form input[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
    }

    #form ::-webkit-input-placeholder {
        color: #f8d1d2 !important;
    }

    #form :-moz-placeholder {
        color: #f8d1d2 !important;
    }

    #form ::-moz-placeholder {
        color: #f8d1d2 !important;
    }

    #form :-ms-input-placeholder {
        color: #f8d1d2 !important;
    }

    #form .formerize-placeholder {
        color: #f8d1d2 !important;
    }

    #form .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
    }

        @media screen and (max-width: 480px) {

            #form .inner {
                max-width: 90%;
                width: 90%;
            }

        }




		/* Footer */

#footer {
    padding: 80px 0 60px 0;
    background: #fff;
    color: #aaa;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
    #footer a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        color: #aaa;
        text-decoration: none;
    }
    
    #footer img{
        width: 200px;
        height: 200px;
    }

        #footer a:active, #footer a:hover {
            color: #666;
        }

    #footer .foot {
        margin: 2em 0;
        padding: 0;
        text-align: center;
    }

        #footer .foot li {
            border-left: solid 1px rgba(144, 144, 144, 0.25);
            display: inline-block;
            list-style: none;
            margin-left: 1.5em;
            padding-left: 1.5em;
        }

            #footer .foot li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

    @media screen and (max-width: 980px) {

        #footer {
            padding: 6em 0 4em 0;
        }

    }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3em 0 2em 0;
        }


    }

    @media screen and (max-width: 480px) {

        #footer {
            padding: 3em 0 1em 0;
        }

            #footer .foot li {
                border-left: 0;
                display: block;
                margin: 0;
                padding: 0;
            }

    }